/*
#notice, #error {
  padding: 5px 8px;
  margin: 10px 0;
}
 
#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
 
#error {
  background-color: #FCC;
  border: solid 1px #C66;
}
*/

* {
	font-family: 'Lucida Grande', 'Trebuchet MS',arial,helvetica,clean,sans-serif;
}

a {
	color: #f26c24;
}

a:visited {
	color: #3c89c8;
}

body {
	background: #1b325f;
	font-size: 1.0em;	
}

h1,h2,h3,h4,h5 {
	color: #1b325f;
}

input[type="submit"] {
	font-size: 1.3em;
}

input[type="text"] {
	font-size: 1.3em;
	color: #666666;
}

input#user_openid_identifier, 
input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #FFF;
  color: #000;
  background-position: 0 50%;
  padding-left: 18px;
}

textarea {
	font-size: 1.3em;
}

#account_info {
	float: right;
}

#categories {
	background: #eef8fe;
	border-top: 1px solid #ffffff;
	float: left;
	padding: 1%;
	width: 20%;
}

#links {
	background: #eef8fe;
	border-top: 1px solid #ffffff;
	float: right;
	width: 78%;
}

#category_list {
	margin: 0px;
	padding: 0px;
}

#category_list li {
	list-style: none;
}

#header {
	background: #f26c24;
	border-bottom: 1px solid #000000;
	padding: 10px;
}

#header a {
	color: #1b325f;
	text-decoration: none;
}

#header h1 {
	color: #ffffff;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

#header h3 {
	color: #ffffff;
	font-style: italic;
	font-weight: normal;
	margin-top: 0px;
}

#link_form,
#user_form {
	margin-left: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#link_list {
	background: #ffffff;
	border: 1px solid #aaaaaa;
	margin-left: 5px;
	padding-left: 0px;
	width: 85%;
}

#link_list li {
	border-bottom: 1px dotted #cccccc;
	list-style: none;
	padding: 5px 7px;
}

#links h2 {
	margin-bottom: 0px;
}

#main {
	padding: 20px;
}

ul#link_list {
	margin-top: 0px;
}

.category_link {
	background: #f26c24;
	border-top: 1px solid #ffd9bf;
	border-left: 1px solid #ffd9bf;
	border-bottom: 1px solid #b34700;
	border-right: 1px solid #b34700;
	display: inline-block;
	padding: 3px;
	width: 150px;
}

.category_link a {
	color: #ffffff;
	text-decoration: none;
}

.category_link a:visited {
	color: #ffffff;
	text-decoration: none;
}

.form_list li {
	list-style: none;
}

ul.form_list {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

.link_title {
	display: inline-block;
	width: 92%;
}

.notes {
	color: #333333;
}

.tool_links img {
	border: 0px;
}

.wrapper {
	background: #eef8fe;
}