/*
#notice, #error {
  padding: 5px 8px;
  margin: 10px 0;
}
 
#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
 
#error {
  background-color: #FCC;
  border: solid 1px #C66;
}
*/
#link_list {
	margin-left: 0px;
	padding-left: 0px;
	width: 85%;
}

#link_list li {
	border-bottom: 1px solid #dddddd;
	list-style: none;
	padding: 3px 5px;
}

.link_title {
	display: inline-block;
	width: 95%;
}

.tool_links img {
	border: 0px;
}

