<% content_for :title do %>
| register
<% end %>

<h2>Register using OpenID</h2>

<p>This site makes use of <a href="http://openid.net/" title="OpenID Foundation website">OpenID</a> to handle authentication and user accounts.</p>

<p><em>If you are using OpenID personas you can leave the username and email blank and it should auto-fill those for you.</em></p>
<div id="user_form">
<%= render @user %>
</div>
