<% content_for :title do %> 
| log in
<% end %>  
  
<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
<ul class="form_list">  
  <li>  
    <%= form.label :openid_identifier, "OpenID URL "%>  
    <%= form.text_field :openid_identifier %>  
  </li>  
  <li>  
    <%= form.submit "submit" %>  
  </li>  
</ul>  
<% end %>